.e-modal {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background: white;
    box-shadow: gray 1px 1px 6px;
    z-index: -1;
    opacity: 0;
}

.e-modal-title {
    text-align: center;
    background: #ffff0083;
    font-size: 30px;
}

.e-modal-content {
    min-width: 800px;
    padding: 15px;
}

.e-modal-content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    gap: 5px;
}

.e-modal-content-1 > input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.e-modal-content-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.e-modal-content-2 > input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.e-modal-buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 5px 0;
}

.e-warn {
    font-size: 15px;
    color: red;
    margin-right: 5px;
}

.e-modal-buttons > button {
    background: #ffff0083;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-left: 4px;
    cursor: pointer;
}

.active {
    opacity: 1;
    z-index: 1;
}