
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    background-color: #28827c5a;
}

.global-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 80vh;
}

.main-content {
    display: flex;
    width: 90%;
    box-sizing: border-box;
    min-height: 80%;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    box-shadow: #808080 2px 2px 7px;
}

.btn-register {
    display: flex;
    width: fit-content;
    padding: 10px;
    font-size: 15px;
    background: rgba(42, 42, 242, 0.456);
    border: 1px solid #808080;
    color: #ffffff;
    margin-bottom: 15px;
    cursor: pointer;
}

.main-table {
    border-collapse: collapse;
    text-align: left;
}

.main-table thead tr {
    background: #3b6a70b0;
    font-weight: bold;
}

.main-table thead tr th {
    padding: 10px;
    border-right: 2px solid #ffffff;
}

.main-table tbody tr {
    border-bottom: 1px solid #808080;
}

.main-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.main-table tbody tr td {
    padding: 10px;
    text-align: left;
}

.btn-edit, .btn-remove {
    border: 1px solid #808080;
    padding: 5px;
    margin-left: 3px;
    cursor: pointer;
    margin: 10px 2px;
}

.btn-edit {
    background: #ffffe0;
}

.btn-remove {
    background: #f08080;
}

